.base-form {
    display: flex;
    margin-top: 10%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.mensagem-login{
    background-color: rgb(212, 212, 212);
    width: 50%;
    text-align: center;
    height: 98vh;
    padding-top: 15%;
}

p{
    margin-top: 3%;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

h1{
    text-align: center;
}

.avatar{
    border-radius: 50px;
    border: 1px solid black;
}

#nav{
    height: 3rem;
}